* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chivo";
    /* + Chivo mono */
    font-size: 16px;
}

:root {
    --background: #FFF7D3;
    --main-yellow: #FADB1B;
    --orange: #EB7B59;
    --black: #000;
}

/* Font size:
12px, 16px, , 24px, 32px, 40px, 56px, 100px.

0.75rem, 1rem, 1.5rem, 2rem, 2.5rem, 3.5rem, 6.25rem.
*/


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 21rem;
    /* proveriti height na kraju */
    border: 2px solid var(--orange);
    background-color: var(--background);
    border-radius: 5px;
    overflow: hidden;
}

h1 {
    padding: 0 1rem;
}

h2 {
    align-self: flex-start;
    font-weight: 400;
    font-size: 1.5rem;
}

h1,
.underline {
    font-size: 2.5rem;
}

h1 .underline {
    font-size: 2.5rem;
}

.underline {
    font-size: 1.5rem;
    background-image: linear-gradient(0, var(--orange) 50%, transparent 50%);
}

h2::first-letter,
h3::first-letter,
h1::first-letter,
footer::first-letter {
    color: var(--orange);
}

h3:nth-of-type(1) {
    margin-left: 0.4rem;
}

h3:nth-of-type(2) {
    margin-left: 1rem;
}

.date-container,
#thank-you {
    width: 20rem;
    height: 4rem;
    background-color: var(--main-yellow);
    border-radius: 5px;
    border: 3px solid var(--black);
    box-shadow: 2px 2px var(--black);
}

/* INSERT CURRENT DATE STYLE HERE */

.time-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

h3:last-child {
    transform: translateX(8px);
}

.hms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--main-yellow);
    border-radius: 5px;
    border: 3px solid var(--black);
    box-shadow: 2px 2px var(--black);
}

#hours,
#minutes,
#seconds {
    font-family: 'Chivo Mono';
    font-size: 3.5rem;
}


.date-container,
#thank-you {
    display: flex;
    align-items: center;
    justify-content: center;
}

#thank-you {
    cursor: pointer;
    color: var(--black);
}

#thank-you:active {
    transform: translateY(3px);
}

#current-date {
    font-size: 2rem;
}

.dots {
    font-size: 4rem;
    font-weight: 600;
    color: var(--orange);
}

.time-container-text {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.date-segment,
.weather-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.time-segment {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 11rem;
    background-color: var(--main-yellow);
    border-radius: 5px;
    border: 3px solid var(--black);
    box-shadow: 2px 2px var(--black);
}

#weather {
    font-size: 7rem;
    font-weight: 700;
}

footer,
a {
    font-size: 0.75rem;
    transform: translateY(-0.5rem);
}

a {
    text-decoration: none;
    color: var(--orange);
    font-weight: 600;
}

.animation {
    position: absolute;
    transform: translate(85px, -20px);
}
